<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <header>
        <img id="logo" src="/images/messilogo.png" alt="logo messi">
        <div class="top-bar">
            <nav>
                <ul>
                <li><a class="cool-link" href="/">Inicio</a></li>
                <li><a class="current" href="#">Sobre Messi</a></li>
                <li><a class="cool-link" href="/gallery">Galería</a></li>
                </ul>
            </nav>
    </header>
    <section id="contenedor-texto">
        <p>Lionel Andrés Messi Cuccittini (Rosario, Argentina, 24 de junio de 1987), conocido como Leo Messi, es un futbolista argentino que juega como delantero. Jugador histórico del Fútbol Club Barcelona, al que estuvo ligado veinte años, despues pasó dos años por el PGS de Francia y recientemente fichado por el Inter de Miami de EEUU. Es también internacional con la selección de Argentina, equipo del que es capitán.</p>
        <p>Considerado el mejor jugador del mundo y de la historia de ese deporte,​es el único futbolista en la historia que ha ganado, entre otras distinciones, siete veces el Balón de Oro, siete premios de la FIFA al mejor jugador del mundo, seis Botas de Oro y dos Balones de Oro de la Copa Mundial de Fútbol. En 2020, se convirtió en el primer futbolista y el primer argentino en recibir un premio Laureus y fue incluido en el Dream Team del Balón de Oro.

        Con el Barcelona ha ganado 35 títulos, entre ellos, diez de La Liga, cuatro de la Liga de Campeones de la UEFA y siete de la Copa del Rey.
            
        Goleador prolífico, ostenta, entre otros, los récords por más goles en una temporada,​ en un mismo club y en un año calendario. Es, además, el máximo goleador histórico del Barcelona y de la selección argentina, de La Liga, la Supercopa de España, la Supercopa de Europa y el jugador no europeo con más goles en la Liga de Campeones de la UEFA.
        </p>
    </section>
</body>
</html>