<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <img id="logo" src="/images/messilogo.png" alt="logo messi">
    <div class="top-bar">
        <nav>
            <ul>
            <li><a class="cool-link" href="/">Inicio</a></li>
            <li><a class="cool-link" href="/about">Sobre Messi</a></li>
            <li><a class="current" href="#">Galería</a></li>
            </ul>
        </nav>
</header>
    <section id="gallery"">
      <div class="gallery">
        <img src="/images/1.jpg" alt="Messi con Argentina">
        <img src="/images/2.jpg" alt="Messi con la copa del mundo">
        <img src="/images/3.jpeg" alt="Messi con Barcelona">
        <img src="/images/4.jpeg" alt="Messi haciendo mueca">
        <img src="/images/5.jpg" alt="Messi con la copa del mundo2">
        <img src="/images/6.jpg" alt="Messi chutando con psg">
        <img src="/images/7.jpeg" alt="Messi chutando con Argentina">
        <img src="/images/8.jpg" alt="Tridente">
      </div>
    </section>
</body>
</html>