<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />

</head>
<body>
    <header>
        <img id="logo" src="/images/messilogo.png" alt="logo messi">
        <div class="top-bar">
            <nav>
                <ul>
                <li class="current"><a href="#">Inicio</a></li>
                <li><a class="cool-link" href="/about">Sobre Messi</a></li>
                <li><a class="cool-link" href="/gallery">Galería</a></li>
                </ul>
            </nav>
    </header>
    <section id="contenedor">
        <h1>El mejor de todos los tiempos</h1>
        <h2>Títulos, goles, asistencias, records... Todas las estadisticas y los hechos lo certifican </h2>
        </div>
    </section>
    
    <script src="/js/main.js"></script>
</body>
</html>